@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.layout-1800 {
  @apply flex flex-col w-full max-h-screen max-md:max-h-[100dvh] mx-auto;
}

.mobile-fixed {
  position: -webkit-fixed;
}
